<!DOCTYPE html>
<html>
    <head>
        <title>Url Shortner</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap" rel="stylesheet">
    </head>
    <style>
        #logo {
            font-family: 'Courgette', cursive;
            font-size: 150%;
        }
        a {
            font-size: 120%;
        }
    </style>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="logo" class="navbar-brand" href="/">Url Shortner</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/newurl" >Shorten URL</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   