<% include partials/header %>
<h1>Shorten Your Url</h1>
           <form method="POST" action="/">
            <label for="originalUrl">original url</label>
            <input type="text" name="originalUrl" placeholder="Enter your Url">
            <button>Submit</button>
        </form>
<% include partials/footer %>